body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.container {
    width: 50%;
    margin: 30px auto;
    background-color: #fff2df;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.table-container{
    background-color: #fff2df;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-section, .table-section {
    margin-bottom: 30px;
}

.form-section input{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
}

.form-section button {
    padding: 12px;
    border-radius: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #d3a376;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #c2c0ce;
}

.search-container {
    text-align:left;
    margin-bottom: 15px;
}

.search-container input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid #000000;
    text-align: center;
    padding: 12px;
}

th {
    background-color: #f4f4f4;
    color: #000000;
    text-transform: uppercase;
}

td img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

.button-container {
    justify-content: center;
    gap: 10px;
}

.edit-btn, .delete-btn {
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
}

.edit-btn {
    background-color: #d3a376;
    color: rgb(0, 0, 0);
}

.edit-btn:hover {
    background-color: #929292;
}

.delete-btn {
    background-color: #cea292;
    color: rgb(0, 0, 0);
}

.delete-btn:hover {
    background-color: #c08974;
    
}

.table-section {
    overflow-x: auto;
}

.form-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}