#contenido-frame{
  width: 100%;
  height: 100vh;
  border: none;
}

/* Estilos generales */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background-color: #f4f4f4;
  display:flex;
  
  
  
}

/* Contenedor principal */
.container {
  display: flex;
  width: 100%;
  font-size: 18px;
}

.sidebar {
  width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
}
/*barra lateral */
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

.sidebar-nav ul li {
  margin: 30px 0;
}

.sidebar-nav ul li a {
  color: white;
  text-decoration: none;
  height: 100vh;
  padding: 30px;
  

}
/* Contenido principal */
.main-content {
  flex: 1;
    padding: 8px;
    background: linear-gradient( 45deg, #1184b194, #FFEBCD);
}

/* header {
  background-color: #34495e;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
} */

/* Controles del reporte */
.report-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.report-controls label {
  font-weight: bold;
}

.report-controls select, .report-controls button {
  padding: 8px;
  font-size: 16px;
}

button{
  background-color: #98cdf0dc;
  color: black;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
  
}
button:hover{
  background-color: #a2afaf;
  
}

/* Tabla de reportes */
table {
  background-color: #eeebe7;
    padding: 8px;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #000000;
  padding: 6px;
  text-align: center;
}

table th {
  background-color: #7ba9d6;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #44759498;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.modal input, .modal select {
  width: 90%;
  padding: 10px;
  margin: 5px;
}


/* Responsive */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      text-align: center;
  }

  .report-controls {
      flex-direction: column;
      align-items: stretch;
  }
}