*{
  font-family: 'Times New Roman', Times, serif;
}

.navbar-fixed-top {
  top: auto;
}
#mobirisePromo.container-banner {
  height: 11rem;
  opacity: 1;
  -webkit-animation: 11s linear animationHeight;
  -moz-animation: 11s linear animationHeight;
  -o-animation: 11s linear animationHeight;
  animation: 11s linear animationHeight;
  transition: all  0.5s;
}
#mobirisePromo.container-banner.container-banner-closing {
  pointer-events: none;
  height: 0;
  opacity: 0;
  -webkit-animation: 0.5s linear animationClosing;
  -moz-animation:  0.5s linear animationClosing;
  -o-animation:  0.5s linear animationClosing;
  animation:  0.5s linear animationClosing;
}
#mobirisePromo .banner {
  min-height: 11rem;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  opacity:1;
  -webkit-animation: 11s linear animationBanner;
  -moz-animation: 11s linear animationBanner;
  -o-animation: 11s linear animationBanner;
  animation: 11s linear animationBanner;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobirisePromo .banner p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  animation: none;
  visibility: visible;
}
#mobirisePromo .buy-license {
  text-decoration: underline;
}
#mobirisePromo .banner .btn {
  margin: 0.3rem 0.5rem;
  animation: none;
  visibility: visible;
}
.navbar.opened {
    z-index: 1032;
}
#mobirisePromo .mbr-section-abuse-report {
  margin-top: 0.8rem;
  font-size: 80%;
}
#mobirisePromo .mbr-section-abuse-report a {
  color: #aaa;
}
@-webkit-keyframes animationBanner { 0% { opacity: 0; top: -11rem; } 91% { opacity: 0; top: -11rem; } 100% { opacity: 1; top: 0; } }
@-moz-keyframes animationBanner { 0% { opacity: 0; top: -11rem; } 91% { opacity: 0; top: -11rem; } 100% { opacity: 1; top: 0; } }
@-o-keyframes animationBanner { 0% { opacity: 0; top: -11rem; } 91% { opacity: 0; top: -11rem; } 100% { opacity: 1; top: 0; } }
@keyframes animationBanner { 0% { opacity: 0; top: -11rem; } 91% { opacity: 0; top: -11rem; } 100% { opacity: 1; top: 0; } }
@-webkit-keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 11rem; } }
@-moz-keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 11rem; } }
@-o-keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 11rem; } }
@keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 11rem; } }

@-webkit-keyframes animationClosing { 0% { height: 11rem; opacity: 1; } 30% { height: 11rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-moz-keyframes animationClosing { 0% { height: 11rem; opacity: 1; } 30% { height: 11rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-o-keyframes animationClosing { 0% { height: 11rem; opacity: 1; } 30% { height: 11rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@keyframes animationClosing { 0% { height: 11rem; opacity: 1; } 30% { height: 11rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }

@media(max-width: 575px) {
  #mobirisePromo.container-banner {
    height: 14rem;
  }
  #mobirisePromo .banner {
    min-height: 14rem;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -14rem; } 91% { opacity: 0; top: -14rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -14rem; } 91% { opacity: 0; top: -14rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -14rem; } 91% { opacity: 0; top: -14rem; } 100% { opacity: 1; top: 0; } }
    @keyframes animationBanner { 0% { opacity: 0; top: -14rem; } 91% { opacity: 0; top: -14rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 14rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 14rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 14rem; } }
    @keyframes animationHeight { 0% { height: 0; } 91% { height: 0; } 100% { height: 14rem; } }

  @-webkit-keyframes animationClosing { 0% { height: 14rem; opacity: 1; } 30% { height: 14rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 14rem; opacity: 1; } 30% { height: 14rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 14rem; opacity: 1; } 30% { height: 14rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 14rem; opacity: 1; } 30% { height: 14rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
}

/*CARRUSEL*/
.carousel-product-wrapper {
	position: relative;
	overflow: hidden;
}

.carousel-product-track {
	display: flex;
	gap: 1.5rem;
	transition: transform 0.5s ease-in-out;
	scroll-behavior: smooth;
	overflow-x: auto; /* ¡IMPORTANTE para scroll horizontal! */
}

.carousel-product-wrapper .carousel-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 24px;
	z-index: 10;
	border-radius: 50%;
}

.carousel-product-wrapper .prev {
	left: 0;
}

.carousel-product-wrapper .next {
	right: 0;
}

.card-product {
	min-width: 250px;
	flex-shrink: 0;
}

.container-img {
	display: flex;
  justify-content: center;
  align-items: center;
  
}

.heading-1{
  text-align: center;
  font-weight:bold;

}
