body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  background-color:  #34495e;
  color: white;
  padding-top: 20px;
}

.logo {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu li a:hover {
  background-color:  #34495e;
  border-radius: 5px;
}

.submenu {
  list-style: none;
  padding-left: 20px;
  display: none;
}

.main-content {
  margin-left: 230px;
  padding: 30px;
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.filtros {
  margin-bottom: 15px;
}

.filtros input, .filtros button {
  margin-right: 10px;
  padding: 5px 10px;
}
